@font-face {
  font-family: "iconfont"; /* Project id 3946607 */
  src: url('iconfont.woff2?t=1678598452729') format('woff2'),
       url('iconfont.woff?t=1678598452729') format('woff'),
       url('iconfont.ttf?t=1678598452729') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e639";
}

.icon-wode:before {
  content: "\e70b";
}

.icon-caidan:before {
  content: "\e668";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-wenzhanghuoke-:before {
  content: "\e659";
}

.icon-wenzhangfenlei:before {
  content: "\e6c6";
}

.icon-tianjiawenzhang:before {
  content: "\e658";
}

.icon-wenzhang:before {
  content: "\e65a";
}

.icon-wenzhangbianji:before {
  content: "\e65b";
}

