/* 去除element ui 所有table边框线 */
.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
  border-bottom: none !important;
}
.el-table__inner-wrapper::before {
  height: 0 !important;
}
@media (max-width: 320px) {
  /*0~320*/
  #sidebar {
    margin-left: -2.8rem;
  }
  #login {
    height: 100vh !important;
    justify-content: center;
    align-items: center;
  }
  #login .img {
    display: none;
  }
  /* html {
    font-size: 40px;
  } */
}
@media (min-width: 321px) and (max-width: 376px) {
    /*321~768*/
    #sidebar {
      width: 1.5rem !important;
      margin-left: -2.8rem;
      margin-left: 0rem !important;
    }
    .title .text {
      display: none;
    }
    .title .icon {
      transform: scale(0.7);
    }
    .list .list-item span{
      display: none;
    }
    html {
      font-size: 40px !important;
    }
    header .user-container {
      display: none !important;
    }
    #login {
      height: 100vh !important;
      justify-content: center;
      align-items: center;
    }
    #login .img {
      display: none;
    }
    
}
@media (min-width: 426px) and (max-width: 768px) {

  /*426~768*/
  #sidebar {
    width: 2rem !important;
    margin-left: -2.8rem;
    margin-left: 0rem !important;
  }
  .title .text {
    display: none;
  }
  .title .icon {
    transform: scale(0.7);
  }
  .list .list-item span{
    display: none;
  }
  #login {
    height: 100vh !important;
    justify-content: center;
    align-items: center;
  }
  #login .img {
    display: none;
  }
  html {
    font-size: 40px !important;
  }
}

@media (min-width: 769px) {

  /*769~+∞*/
  .menu-icon {
    display: none;
  }
  
}